<html>
<head>Hello user</head>
<body>
    <div class="container">
    <h3>Welcome to Login</h3>
    <p>The User ID:  <%=user.id %></p>
    
    <% if (!user) { %>
	<p>Welcome! Please <a href="/singup">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.firstName %>. View your <a href="/profile">profile</a>.</p>
<% } %>
    
    </div>
    <div class="jumbotron">
  <h1>To Logout Here!</h1>
  <p><a class="btn btn-primary btn-lg" href="http://cmipangapp.mybluemix.net/logout" role="button">Logout</a></p>
 
</div><!-- jumbotron end -->
</body>

</html>