<html>
<head>Hello user</head>
<body>
    <div class="container">
    <h3>Welcome to Login</h3>
    <p>The User ID:  <%=user.id %></p>
    
    <% if (!user) { %>
	<p>Welcome! Please <a href="/singup">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>
    
    </div>
</body>

</html>